/*
Breakpoints Tailwind:

sm	640px	@media (min-width: 640px) { ... }
md	768px	@media (min-width: 768px) { ... }
lg	1024px	@media (min-width: 1024px) { ... }
xl	1280px	@media (min-width: 1280px) { ... }
2xl	1536px	@media (min-width: 1536px) { ... }

Agrego:
xs > 375px
*/

@import url("https://use.typekit.net/szq0tzq.css");

:root {

/* Color */

--tai-teal-main: #013330;
--tai-teal-100: #faffff;
--tai-teal-200: #d6f2f0;
--tai-teal-300: #b5e5e2;
--tai-teal-400: #97d9d4;
--tai-teal-500: #7cccc6;
--tai-teal-600: #51b2ab;
--tai-teal-700: #329992;
--tai-teal-800: #1c7f79;
--tai-teal-900: #0e6660;
--tai-teal-1000: #054c48;
--tai-teal-1200: #021b19;
--tai-teal-1300: #000302;

--tai-pink-main: #eed1a1;
--tai-pink-100: #fffdfa;
--tai-pink-200: #fbf1e3;
--tai-pink-300: #f7e6cc;
--tai-pink-400: #f2dbb6;
--tai-pink-600: #d1b17c;
--tai-pink-700: #b4935f;
--tai-pink-800: #987948;
--tai-pink-900: #7b6036;
--tai-pink-1000: #5e4827;
--tai-pink-1100: #41311a;
--tai-pink-1200: #241b0f;
--tai-pink-1300: #080603;


/* Spacing */

--container-padding: 10%;

font-size: 16px;
}

@media screen and (max-width: 270px){
  :root {
    /* font-size: 10px; */
  }
}

@media screen and (max-width: 375px){
  :root {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px){
  :root {
    font-size: 20px;
  }
}

@media screen and (min-width: 1536px){
  :root {
    font-size: 24px;
  }
}


/* Comportamiento de scroll */

@media not (prefers-reduced-motion){
  :root {
    scroll-behavior: smooth;
  }
}


* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: serenity, sans-serif;
  font-weight: 200;
  font-size: 1.2rem;
  color: var(--tai-pink-main);
}

a:link, a:visited, a:active {
  cursor: pointer;
  color: inherit;
  font-weight: 300;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  transition-property: color;
  transition-duration: 0.2s;
}

a:hover {
  color: var(--tai-pink-200);
}



/*Títulos de sección, e items que no son el título de sección, pero se ven como tal*/
h2, .h2 {
  font-size: 2.6rem;
  font-weight: 600;
}

h3, .h3 {
  font-size: 1.8rem;
  font-weight: 500;
}

.header-servicio {
  margin-top: 0;
  margin-bottom: 0;
}

/* Otros items tipográficos */

strong {
  font-weight: 400;
}

textarea {
  resize: none;
}


/* Accesibilidad */

a:focus, .focusable:focus {
  outline: 3px solid var(--tai-teal-700);
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  margin: -1px;
}