
/* Main */

.main {
    transition-property: opacity;
    transition-duration: 0.5s;
}

/* Home */

.home {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url(/pattern-azul.svg);
    background-position: center;
    background-color: transparent;
}

.homeBackground {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--tai-teal-1200), var(--tai-teal-main));
    z-index: -1;
}

.seccionMarca {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.seccionMarca > img {
    width: min(60%, 15rem);
    padding-bottom: 1rem;
}

.seccionMarca > span {
    font-size: 1.6rem;
}
/* 
.stripe {
    z-index: 1;
    width: 5rem;
    height: 10rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: var(--tai-teal-1000);
    background-image: url('/flecha-home.svg');
    background-position: 50% 10%;
    background-size: 60%;
    background-repeat: no-repeat;
    color: transparent;
    font-size: 0;
} */


.home::after {
    position: absolute;
    content: '';
    width: 7rem;
    height: 7rem;
    background-image: url('/icono-deco-rombo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 1;
}


/* About */

.about {
    position: relative;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(var(--tai-teal-1200), var(--tai-teal-1300));
    color: var(--tai-pink-main);
    /* background-image: url('/fondo-about.png'); */
    background-position: right;
    background-size: cover;
    overflow: hidden;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.about::after {
    padding-top: 4rem;
    padding-bottom: 4rem;
    content: '';
    position: absolute;
    height: 100%;
    width: 60%;
    right: 0;
    top: 0;
    background-image: url('/pluma-rosa.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    opacity: 0.1;
    transform: translateY(5rem);
}
@media screen and (min-width: 768px){
    .about::after {
        width: 45%;
    }
}
@media screen and (min-width: 1280px){
    .about::after {
        width: 30%;
    }
}


.aboutContent {
    width: min(60%, 40rem);
    /* z-index: 1; */
}

@media screen and (min-width: 768px){
    .about {
        justify-content: left;
        padding-left: 10%;
    }
}


/* Servicios */

.servicios {
    position: relative;
    /* background-color: var(--tai-teal-300); */
    color: var(--tai-pink-main);
    /* background: linear-gradient(var(--tai-teal-900), var(--tai-teal-800)); */
    background-image: url('/fondo-servicios.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 7rem;
    padding-bottom: 7rem;
    padding-left: 10%;
    padding-right: 10%;
}

.servicios::before {
    position: absolute;
    content: '';
    width: 7rem;
    height: 7rem;
    background-image: url('/icono-deco-rombo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.servicios::after {
    position: absolute;
    content: '';
    width: 7rem;
    height: 7rem;
    background-image: url('/icono-deco-circulo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 1;
}

.contenedorServicios {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

@media screen and (min-width: 1024px) {
    .contenedorServicios {
        flex-direction: row;
        align-items: stretch;
    }
    .contenedorServicios > * {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}


/* Proceso */

.proceso {
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    background-color: var(--tai-teal-main);
    padding-top: 3rem;
    padding-bottom: 6rem;
}

.pasosProceso {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    list-style-type: none;
    padding-left: 0;
}

@media screen and (min-width: 768px) {
    .pasosProceso {
        padding-left: 10%;
        padding-right: 10%;
    }
}

.proceso::after {
    position: absolute;
    content: '';
    width: 7rem;
    height: 7rem;
    background-image: url('/icono-deco-cuadrado.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 1;
}

/* Proyectos */

.proyectos {
    position: relative;
    padding-top: 4rem;
    padding-bottom: 7rem;
    padding-left: 10%;
    padding-right: 10%;
    background: linear-gradient(var(--tai-teal-1200), var(--tai-teal-main));
}

.proyectos::before {
    position: absolute;
    content: '';
    width: 7rem;
    height: 7rem;
    background-image: url('/icono-deco-cuadrado.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.contenedorProyectos {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

@media screen and (min-width: 1024px) {
    .contenedorProyectos {
        grid-template-columns: 1fr 1fr;
    }
}
/* Contacto */

.contacto {
    background-image: linear-gradient(var(--tai-teal-1200), var(--tai-teal-main));
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 10%;
    padding-right: 10%;
}

@media screen and (min-width: 1024px) {
    .contacto {
        position: relative;
        padding-right: 40%;
    }
    .contacto::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 20%;
        right: 0;
        bottom: 0;
        background-color: var(--tai-teal-1000);
        background-image: url('/textura-contacto.png');
        background-position: center;
    }
}


/* Footer */

.footer {
    background-color: var(--tai-teal-1300);
    height: 20rem;
}