.main {
    --page-margin: 5%;
    --large-page-margin: 8%;
    --grid-gap: 12px;
}

.hero {
    background-color: var(--tai-teal-1300);
    padding: var(--page-margin);
    background-image: url("/header-portafolio-individual.png");
    background-size: cover;
    background-position: center;
}

.hero_layout {
    min-height: 60vh;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero_titulo {
    font-size: 3.5rem;
    font-weight: 300;
    margin: 0;
    margin-bottom: 1rem;
}

@media screen and (min-width: 800px) {
    .hero_titulo {
        font-size: 3.5rem;
        font-weight: 300;
        margin: 0;
    }
}

.hero_tituloResaltado {
    font-weight: 500;
}

.hero_subtitulo {
    font-size: 2.2rem;
    margin: 0;
    margin-bottom: 5rem;
}

@media screen and (min-width: 800px) {
    .hero_subtitulo {
        font-size: 2.2rem;
        margin: 0;
        margin-bottom: 3rem;
    }
}

/*-------------*/

.descripcion {
    background-color: var(--tai-teal-main);
    font-size: 1rem;
}

@media screen and (min-width: 800px) {
    .descripcion {
        font-size: 0.9rem;
    }
}

.descripcion_titulo {
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 4rem;
}

.descripcion_layout {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
}

@media screen and (min-width: 800px) {
    .descripcion_layout {
        grid-template-columns: 2.5fr 1fr;
        grid-template-rows: 1fr;
    }
}

.descripcion_panelTexto {
    padding: var(--page-margin);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.descripcion_panelImagen {
    height: 100%;
    background-image: url("/lateral-portafolio-individual.png");
    background-size: cover;
}

@media screen and (min-width: 800px) {
    .descripcion_panelImagen {
        background-position: center;
    }
}


/* Texto de cuerpo de la página */

.ejemplos, .proceso, .informacion {
    font-size: 1rem;
    background-color: var(--tai-teal-1200);
}

@media screen and (min-width: 800px) {
    .ejemplos, .proceso, .informacion {
        font-size: 0.9rem;
    }
}



/* SECCIONES */


.introEjemplos {
    text-align: center;
    padding-bottom: 2rem;
}

.introEjemplos_layout {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    padding-left: var(--page-margin);
    padding-right: var(--page-margin);
}

.introEjemplos::after{
    content: "";
    display: inline-block;
    max-width: 30ch;
    width: 50%;
    height: 1px;
    margin-top: 2rem;
    text-align: center;
    background-color: var(--tai-pink-main);
}

.introEjemplos_titulo {
    font-size: 1.2rem;
    margin-top: 0;
}

/*-----*/

.itemEjemplos {
    padding-left:   var(--large-page-margin);
    padding-right:  var(--large-page-margin);
    padding-bottom: 5rem;
}

.itemEjemplos_titulo {
    font-size: 1.2rem;
    font-weight: 500;
}

.itemEjemplos_texto {
    max-width: 60ch;
    padding-bottom: 3rem;
}

/*-----*/

.itemEjemplos_grilla {
    display: grid;
    gap: var(--grid-gap);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
}

.itemEjemplos_grilla > * {
    width: 100%;
    height: auto;
}

.itemEjemplos_gridItemWide {
    grid-column-start: 1;
    grid-column-end: 3;
}

/* Globales de página */

.contenedorTexto {
    max-width: 60ch;
}

.botonBorde,
.botonBorde:link,
.botonBorde:visited,
.botonBorde:hover,
.botonBorde:active
{
    display: inline-block;
    font-size: 1rem;
    padding: 0.25rem 1.5rem 0.55rem;
    align-self: flex-start;
    color: var(--tai-pink-main);
    outline: 1px solid var(--tai-pink-main);
    cursor: pointer;
    text-transform: uppercase;
}

.botonRelleno,
.botonRelleno:link,
.botonRelleno:visited,
.botonRelleno:hover,
.botonRelleno:active {
    display: inline-block;
    padding: 0.25rem 1.5rem 0.55rem;
    color: var(--tai-teal-main);
    cursor: pointer;
    text-transform: uppercase;
    background: var(--tai-pink-main);
    font-weight: 300;
    font-size: 0.9rem;
    text-decoration: none;
}

/*-------------*/

.proceso {
    background: var(--tai-teal-main);
    padding-left:  var(--large-page-margin);
    padding-right: var(--large-page-margin);
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.proceso_tituloProceso {
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 2rem;
    text-align: center;
}

.proceso_listaPasos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 0;
    list-style: none;
    margin-bottom: 1rem;
}

.proceso_pasoProceso {
    display: flex;
    flex-direction: column;
    background-color: var(--tai-teal-1000);
    padding: 1rem 2.5rem 1.5rem;
}

.proceso_numeroPaso {
    display: block;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 200;
}

.proceso_textoPaso {
    max-width: 30ch;
    margin: 0;
}

.proceso_iconoRombo {
    display: none;
}

@media screen and (min-width: 800px) {
    .proceso_listaPasos {
        display: grid;
        grid-template-columns: 1fr 1rem 1fr 1rem 1fr;
        gap: 0;
    }
    .proceso_iconoRombo {
        display: block;
        width: 3.2rem;
        justify-self: center;
        align-self: center;
        z-index: 1;
    }
}

.proceso_tituloEntregables {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}

.proceso_contenedorEntregables {
    background-color: var(--tai-teal-1000);
    padding: 1rem 2.5rem 1.5rem;
}

.proceso_listaEntregables {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    gap: 2rem;
    padding-top: 1rem;
    padding-left: 0;
    list-style: none;
}
@media screen and (min-width: 800px) {
    .proceso_listaEntregables {
        grid-template-rows: 1fr;
        grid-template-columns: repeat(2, 1fr);
    }
}

.proceso_itemEntregables {
    max-width: 30ch;
    text-align: center;
    justify-self: center;
}



/*-------------*/


.informacion {
    background: var(--tai-teal-main);
    padding-left:  var(--large-page-margin);
    padding-right: var(--large-page-margin);
    padding-bottom: 3rem;
}

.informacion_item {
    padding-bottom: 2rem;
    max-width: 75ch;
}


.informacion_tituloItem {
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.informacion_listaItems > li {
    padding-bottom: 1rem;
}


.footer {
    display: block;
    padding-top:    5rem;
    padding-bottom: 3rem;
    background-color: var(--tai-teal-1200);
    font-size: 0.9rem;
    font-weight: 300;
    text-align: center;
}

.footer_icono {
    display: block;
    margin: auto;
    width: 2rem;
}